body {
    background-color:black;
}
.my-class {
    color: white;
    font-size: 18px;
    margin-left: 20%;
    margin-bottom: 70px;
}
.box {
    width: 52%;
    height: 80%; 
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 20% auto 0;
    gap: 10px;
    border-radius: 30px;
    background: #B22222;
    opacity: 1; 
}
.text {
    color: #fff;
    font-size: 2em;
    text-align: center;
    font-family: Century Gothic;
    opacity: 1;
    padding: 40px;
}

.text p {
    font-family: Century Gothic;
    font-size: 50px;
    font-weight: 30;
    line-height: 60px;
    text-align: left;
}
.ga {
    color: gainsboro;
    font-size: 18px;
    margin-left: 20%;
}
.image-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 250px;
    margin-left: 20%;
}

.image-column img {
    width: 200px;
    margin-bottom: 10px; 
    height: 300px;
    
}
.image{
    margin-left: 20%;
}
.ge {
    color: gainsboro;
    font-size: 18px;
    margin-left: 20%;
    margin-bottom: 70px;
}
