body {
    background-color:black;
}
.my-class {
    color: white;
    font-size: 18px;
    margin-left: 20%;
}
.my-div{
    background-color: red;
    color: white;
    height: 50%;
    width: 50%;
    margin-left: 20%;
    font-size: 20px;

}
.ga {
    color: gainsboro;
    font-size: 18px;
    margin-left: 20%;
}
.image-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 250px;
    margin-left: 20%;
}

.image-column img {
    width: 200px;
    margin-bottom: 10px; 
    height: 300px;
    
}
.image{
    margin-left: 20%;
}
.ge {
    color: gainsboro;
    font-size: 18px;
    margin-left: 20%;
    margin-bottom: 70px;
}
